header {
  height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-content: center;

  button {
    background: $primarButton;
    color: $textColor;

    &:hover {
      background: yellowgreen;
      color: black;
    }
    &::before {
      content: "Hello there";
    }
  }
}
