@mixin flexDisplay($background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
}

header {
  @include flexDisplay(grey);

  button {
    background: $primarButton;
    color: $textColor;

    &:hover {
      background: yellowgreen;
      color: black;
    }
    &::before {
      content: "Hello there";
    }
  }
}
